<!DOCTYPE html>
<html>
    <head>
        <title> <%=ppp%></title>
        
    </head>
    <body>
         <h1> Welcome to PizzaPage </h1> 
         <h2>
             Have a slice 
         </h2> 
         <form method="POST">
            <input type="text" name="user">
            <input type="password" name="pass">
            <input type="submit" value="Login">
         </form> 
     </body>
</html>